A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #338099; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #338099; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #338099; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #fe5520; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.text {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; WIDTH: 100%; COLOR: #555555; FONT-FAMILY: Verdana; TEXT-ALIGN: justify; TEXT-DECORATION: none
}
.textb {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #336699; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.texth {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #fe5520; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.texts {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #555555; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.textslb {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #668cb3; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.textslbl {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #668cb3; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.textslg {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #808080; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.textslgl {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #808080; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.textbig {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #808080; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.links {
	FONT-SIZE: 10px
}
.textw {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.load {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #555555; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.field1 {
	BORDER-RIGHT: 2px inset; BORDER-TOP: 2px inset; SCROLLBAR-FACE-COLOR: #bbbbbb; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #d0e0f0; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; BORDER-LEFT: 2px inset; SCROLLBAR-SHADOW-COLOR: #999999; COLOR: #555555; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #eeeeee; BORDER-BOTTOM: 2px inset; FONT-FAMILY: Verdana; SCROLLBAR-DARKSHADOW-COLOR: #000000; TEXT-DECORATION: none; scrolling: yes
}
BODY {
	SCROLLBAR-FACE-COLOR: #dddddd; FONT-SIZE: 11px; SCROLLBAR-HIGHLIGHT-COLOR: #dddddd; SCROLLBAR-SHADOW-COLOR: #555555; COLOR: #555555; SCROLLBAR-3DLIGHT-COLOR: #555555; SCROLLBAR-ARROW-COLOR: #555555; SCROLLBAR-TRACK-COLOR: #ffffff; FONT-FAMILY: Verdana; SCROLLBAR-DARKSHADOW-COLOR: #cccccc
}
